
.ipynb_checkpoints/detecting_fake_text-checkpoint.ipynb
backend/__pycache__/__init__.cpython-36.pyc
backend/__pycache__/__init__.cpython-37.pyc
backend/__pycache__/api.cpython-36.pyc
backend/__pycache__/api.cpython-37.pyc
backend/__pycache__/class_register.cpython-36.pyc
backend/__pycache__/class_register.cpython-37.pyc
